{{#each erros}}
    <div class="alert alert-danger"><p>{{texto}}</p></div>
{{else}}

{{/each}}
<div id="container">
    <form action="/userPerfil" method="post" id="cadastro">
        <h2>Cadastro</h2>
        <label for="nome">Nome completo:</label>
        <input type="text" placeholder="Ex:João Vitor de Almeida" required name="nome" class = {{erro}}>
        <label for="username">Nome de usuário:</label>
        <input type="text" placeholder="Username" required name="username" class = {{erro}}>
        <label for="email">E-mail:</label>
        <input type="text" placeholder="username@email.com" required name="email" class = {{erro}}>
        <label for="telefone">Telefone(opcional):</label>
        <input type="tel" placeholder="(31)99999-9999" name="telefone">
        <label for="password">Senha:</label>
        <input type="password" min="8" max="32" name="senha" class = {{erro}}>
        <label for="password">Confirme a senha:</label>
        <input type="password" min="8" max="32" name="confirme_senha" class = {{erro}}>
        <input type="submit" id="confirm">
    </form>
    <div id="login">
        <p>Já tem uma conta? <a href="userLogin">Faça login</a></p>
    </div>
</div>